.vscode/**
.vscode-test/**
.git/**
scripts/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
**/*.ts
**/*.tsx
**/*.test.*
**/__tests__/**
**/*.svg
*.log
npm-debug.log*
.github/
**/.DS_Store
